<div class="container">
  <div class="row mb-4">
    <div class="col-md-6">
      <h1><%= t('titles.edit_profile') %></h1>

      <%= render 'form' %>

      <p class="buffer-top">
        <%= link_to t('buttons.password'), edit_user_registration_path %>
      </p>
    </div>
  </div>
</div>

