<li class="glide__slide">
  <% photo_title = "#{t('text.add')} #{render partial: 'users/user', object: photo.user}" %>
  <% if current_user_can_edit?(photo) %>
    <% delete = link_to( fa_icon('trash'), event_photo_path(photo.event, photo),
                        method: :delete, data: {confirm: t('confirm.agree_photo')}
                        ) %>
    <% photo_title << delete %>
  <% end %>

  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: { lightbox: 'lightbox', title: photo_title } %>
</li>



